body{
 margin:0;
 padding: 0;   
}

header{
 background-color: black;
 color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 10px;
 padding-right: 10px;
 height: 40px;
 width: 100%;
}

.salir{
 text-decoration: none;
 color: white;
 background-color: rgb(255, 1, 1);
 border-radius: 20px;
 width: 120px;
 height: 30px;
 display: flex;
 align-items: center;
 justify-content: center;   
}

.salir:hover{
 color: white;   
}
